*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

body{
    margin: 20px;
    font-family: Arial, sans-serif;
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
}

.short{
    display: none;
    color: white;
}
.full{
    color: white;
}


@media (max-width: 1080px) {
    .short{
        display: block;
        margin: 0 auto;
    }
    .full{
        display: none;
    }
}


header{
    background-color: red;
    /* background-image: url("/images/banner.png"); */
    /* background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px;
}

main{
    /* border: 0.5px solid red; */
    
    border-radius: 0 0 10px 10px;
    padding: 10px;
    height: 100vh;

}

.shadow{
    box-shadow: 0 0 10px 5px red;
    border-radius: 10px;
}

nav{
    display: flex;
}
.full ul, .short ul{
    display: block;
    margin: 0 auto;
}

.full ul li{
    list-style-type: none;
    float: left;
    font-weight: bold;
    margin: 10px;
}

.full ul li a,.short ul li a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

.full ul li a:hover, .short ul li a:hover{
    text-decoration: underline;
    font-style: normal;
    transition: all 0.5s;
}

.short ul li{
    list-style-type: none;
    font-weight: bold;
    margin: 10px;
}

.full ul li a{
    color: white;
    text-decoration: none;
    font-style: italic;
}