*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

body{
    margin: 20px;
    font-family: Arial, sans-serif;
    font-family: 'Dosis', sans-serif;
    color: black;
    background-color: #fff1e6;
}

h1{
    text-align: center;
}

.short,#short{
    display: none;
    color: white;
}

.full{
    color: white;
}
#hamburger{
    display: none;
}
.hamcon{
    display: flex;
}
@media (max-width: 1080px) {
    .short,#short{
        display: block;
        margin: 0 auto;
    }
    .full{
        display: none;
    }
    #hamburger{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin: 0 auto;
    }
}


header{
    background-color: red;
    /* background-image: url("/images/banner.png"); */
    /* background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px;
}

main{
    /* border: 0.5px solid red; */
    
    border-radius: 0 0 10px 10px;
    padding: 10px;
    height: 100vh;

}

.shadow{
    box-shadow: 0 0 10px 5px red;
    border-radius: 10px;
}

/* nav{
    display: flex;
} */
.full ul{
    display: block;
    margin: 0 auto;
}
.full ul li{
    list-style-type: none;
    float: left;
    font-weight: bold;
    margin: 10px;
}

.full ul li a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

.full ul li a:hover{
    text-decoration: underline;
    font-style: normal;
    transition: all 0.5s;
}

.full ul li .dropdown {
    box-shadow: 0 0 10px 5px red;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(10px);
    position: absolute;
    list-style-type: none;
    padding: 10px;
    z-index: 1;
    border-radius: 10px; /* Added rounded corners to dropdown */
}

.full ul li.dropdown li {
    margin: 10px; /* Set width of dropdown items */
}

.full ul li .dropdown li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

#short{
    box-shadow: 0 0 10px 5px red;
   
    list-style-type: none;
    background-color: red;
    margin: 0;
    z-index: 1;
    border-radius: 10px;
    position:absolute; 
    width: max-content; 
}

#short ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: max-content;
    display: block;
    align-items: center;
}

#short ul li {
    width: max-content;
    margin-bottom: 10px;
}



#short ul li a {
    text-decoration: none;
    color: white;
    padding: 10px; /* Added padding for better clickable area */
    border-radius: 10px; /* Match hover styles */
    transition: background-color 0.5s;
}

#short ul li a:hover {
    background: var(--gradient);
}




