*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

body{
    margin: 20px;
    font-family: Arial, sans-serif;
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: rgb(39, 0, 0);
}

h1{
    text-align: center;
}

.short{
    display: none;
    color: white;
}
.full{
    color: white;
}


@media (max-width: 1080px) {
    .short{
        display: block;
        margin: 0 auto;
    }
    .full{
        display: none;
    }
}


header{
    background-color: red;
    /* background-image: url("/images/banner.png"); */
    /* background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 20px;
    height: 20vh;
}

main{
    /* border: 0.5px solid red; */
    box-shadow: 0 0 10px 5px red;
    border-radius: 10px;
    padding: 10px;
    height: 70vh;

}